@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit";
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(96, 158, 96);
}
#panel {
  overflow: hidden;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  background-color: white;
}
#ptop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30%;
  width: 100%;
  height: 150px;
  background-color: rgb(24, 53, 24);
  color: white;
}
.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.elem h2{
  font-weight: 100;
}
.box {
  background-color: white;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 5px;
  color: black;
}
#pbtm{
  overflow: scroll;
  width: 100%;
  height: calc(100% - 130px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.bubble{
  width: 60px;
  height: 60px;
  background-color: rgb(73, 138, 73);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}
.bubble:hover{
  background-color:rgb(50, 94, 50);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* Adjust styles here for smaller screens */
  #ptop {
    padding: 0px 10%;
    height: 100px;
  }
  /* Add more adjustments as needed */
}